In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
#create a path
path = r'C:\Users\haari\OneDrive\Documents\Instacart Basket Analysis'

In [3]:
#import orders_products_combined
df_ords_prod_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Processed Data', 'orders_products_combined.pkl'))

In [4]:
#check output shape
df_ords_prod_comb.shape

(32434489, 11)

In [5]:
#check output
df_ords_prod_comb.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [6]:
#import products_cleaned data set
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Processed Data', 'Products_Cleaned.csv'))

In [7]:
#check shape of df_prods
df_prods.shape

(49672, 6)

In [8]:
#check the output of df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

##Step 5: Combining df_ords_prod_comb and df_prds data frames

In [23]:
#dropping '_merge' column from df_ords_prod_comb data frame
df_ords_prod_comb_1 = df_ords_prod_comb.drop(columns = ['_merge'])

In [24]:
#check the output
df_ords_prod_comb_1.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0

In [19]:
#merge df_ords_prod_comb and df_prod using left merge
df_ords_prod_merge = df_ords_prod_comb_1.merge(df_prods, on = 'product_id', how = 'left', indicator = True )

In [20]:
#check the output shape
df_ords_prod_merge.shape

(32435059, 16)

In [21]:
#check the output
df_ords_prod_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,195.0,Soda,77.0,7.0,9.0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,14084.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,12427.0,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,26089.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,26406.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

##step 6: confirm the results of the merge using the merge flag

In [22]:
#checking to see if the merge is a full match or not
df_ords_prod_merge['_merge'].value_counts()

both          32404859
left_only        30200
right_only           0
Name: _merge, dtype: int64

##Step 7: Export the merged dataframe

In [25]:
#exporting the df_ords_prod_merge data frame as a pickle file
df_ords_prod_merge.to_pickle(os.path.join(path, '02 Data', 'Processed Data', 'orders_products_combined_2.pkl'))