In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\haari\OneDrive\Documents\Instacart Basket Analysis'

In [15]:
#creating df_ords data frame
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [4]:
#creating df_prods data frame
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Processed Data', 'products_cleaned.csv'), index_col = False)

In [5]:
#creating df_ords_prior data frame
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [6]:
#check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords_prior.shape

(32434489, 4)

In [16]:
df_ords.shape

(3421083, 7)

In [17]:
#merging df_ords and df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [18]:
#check the output
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [19]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [12]:
#merging with how = outer
df_merged_large_outer = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how = 'outer')

In [13]:
#check the output
df_merged_large_outer['_merge'].value_counts()

both          29668607
right_only     2765882
left_only       188403
Name: _merge, dtype: int64

In [20]:
#export to pickle
df_merged_large.to_pickle(os.path.join(path, '02 Data','Processed Data', 'orders_products_combined.pkl'))