4.7: Deriving New Variable

In [52]:
#import libraries
import pandas as pd
import numpy as np
import os

In [53]:
path = r'C:\Users\haari\OneDrive\Documents\Instacart Basket Analysis'

In [54]:
path

'C:\\Users\\haari\\OneDrive\\Documents\\Instacart Basket Analysis'

In [55]:
#import orders_products_combined.pkl
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Processed Data', 'orders_products_combined_2.pkl'))

In [56]:
#create a subset
df = ords_prods_merged[:1000000]

In [57]:
df.shape

(1000000, 16)

In [58]:
df.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,aisle_id,department_id,prices
count,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,1000000.000000,936395.000000,1000000.000000,1000000.000000,1000000.000000,999047.000000,999047.000000,999047.000000,999047.000000
mean,1.711980e+06,3292.053140,17.312732,2.765291,13.416372,11.062050,25572.810576,8.311157,0.591185,25597.403581,71.056053,9.985685,11.400000
std,9.869941e+05,1865.263103,17.928260,2.091081,4.221170,8.811753,14090.836846,7.207951,0.491615,14079.435769,38.228058,6.294815,426.197447
min,8.000000e+00,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,8.620390e+05,1697.000000,5.000000,1.000000,10.000000,5.000000,13517.000000,3.000000,0.000000,13536.000000,31.000000,4.000000,4.200000
50%,1.711282e+06,3342.000000,11.000000,3.000000,13.000000,8.000000,25300.000000,6.000000,1.000000,25341.000000,83.000000,9.000000,7.400000
75%,2.563542e+06,4934.000000,24.000000,5.000000,16.000000,15.000000,37792.000000,11.000000,1.000000,37829.000000,107.000000,16.000000,11.300000
max,3.420853e+06,6467.000000,99.000000,6.000000,23.000000,30.000000,49687.000000,95.000000,1.000000,49691.000000,134.000000,21.000000,99999.000000

In [59]:
df.head(2)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,195.0,Soda,77.0,7.0,9.0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,14084.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both

In [60]:
df.drop('_merge', axis = 'columns', inplace = True)

C:\Users\haari\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [61]:
df.drop('Unnamed: 0', axis = 'columns', inplace = True)

In [62]:
df.shape

(1000000, 14)

In [63]:
#define a function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [64]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\haari\AppData\Local\Temp/ipykernel_13676/2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [65]:
df['price_range'].value_counts(dropna = False)

Mid-range product    672525
Low-range product    314109
High range            12413
Not enough data         953
Name: price_range, dtype: int64

In [66]:
df.shape

(1000000, 15)

In [67]:
#if-else condition using loc()
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\haari\anaconda3\lib\site-packages\pandas\core\indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\haari\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [68]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [69]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [70]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product     672525
Low-range product     314109
High-range product     12413
NaN                      953
Name: price_range_loc, dtype: int64

In [71]:
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [72]:
ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [73]:
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [74]:
ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
NaN                      30200
Name: price_range_loc, dtype: int64

In [75]:
ords_prods_merged['order_dow'].value_counts(dropna = False)

0    6209808
1    5665951
6    4500391
2    4217868
5    4209603
3    3844175
4    3787263
Name: order_dow, dtype: int64

In [76]:
#create a for loop for busiest day
result = []

for value in ords_prods_merged["order_dow"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [77]:
ords_prods_merged['busiest_day'] = result

In [78]:
ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22437988
Busiest day        6209808
Least busy         3787263
Name: busiest_day, dtype: int64

Task 4.7

Step 1: Columns 'price_lable' and 'busiest_day' are created

Step 2: Create new columns 'busiest_days' with 2 busiest days and 'slowest_days' with 2 slowest days

In [80]:
# Count of values for all the days in the data frame ords_prod_merged
ords_prods_merged['order_dow'].value_counts(dropna = False)

0    6209808
1    5665951
6    4500391
2    4217868
5    4209603
3    3844175
4    3787263
Name: order_dow, dtype: int64

In [82]:
#days 0 and 1 are the busiest days and days 3 and 4 are the slowest days
#create a for loop for busiest days and slowest days
new_result = []

for value in ords_prods_merged["order_dow"]:
  if value == 0:
    new_result.append("Busiest days")
  elif value == 1:
    new_result.append("Busiest days")
  elif value == 3:
    new_result.append("Slowest days")
  elif value == 4:
    new_result.append("Slowest days")
  else:
    new_result.append("Regularly busy")

In [84]:
#assign new_result to busiest_day column
ords_prods_merged['Busiest_day'] = new_result

    Step 3: Check the values of this new column for accuracy

In [85]:
#check the output with value_counts
ords_prods_merged['Busiest_day'].value_counts(dropna = False)

Regularly busy    12927862
Busiest days      11875759
Slowest days       7631438
Name: Busiest_day, dtype: int64

From the above result, the number of Busiest and Slowest days are increased and the number of Regular days are decreased.

Step 4: Create new column 'busiest_period_of_day' with labels 'Most Orders', 'Average Orders' and 'Fewest Orders'

In [86]:
#Count of values for each hour of the day
ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2764476
11    2738647
14    2691598
15    2664583
13    2663346
12    2620898
16    2537506
9     2456751
17    2089510
8     1719991
18    1637956
19    1259416
20     977049
7      891951
21     796379
22     634743
23     402621
6      290796
0      218951
1      115787
5       88064
2       69435
4       53284
3       51321
Name: order_hour_of_day, dtype: int64

In [88]:
# hours 8 to 18 have the most count of values and 10 am with the highest, and hours 0 to 5 have the least count of values
# and 3am with the least counts of values
updated_result = []
    
for value in ords_prods_merged["order_hour_of_day"]:
  if value > 10 & value <=18:
     updated_result.append("Most_orders")
  elif value <=5:
     updated_result.append("Fewest_orders")
  else:
     updated_result.append("Average_orders")

In [89]:
#assign updated_result to the 'busiest_period_of_day' column
ords_prods_merged['Busiest_period_of_day'] = updated_result

Step 5: Print the frequency of the new column

In [90]:
#check the output
ords_prods_merged['Busiest_period_of_day'].value_counts(dropna = False)

Most_orders       27662206
Average_orders     4484467
Fewest_orders       288386
Name: Busiest_period_of_day, dtype: int64

In [92]:
#Step 7: Exporting data frame as pickle file
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Processed Data', 'ords_prods_merged.pkl'))