In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#create a path variable
path = r'C:\Users\haari\OneDrive\Documents\Instacart Basket Analysis'

In [3]:
#import ords_prods_merged.pkl
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Processed Data', 'ords_prods_merged.pkl'))

In [4]:
#check the output
pd.set_option('display.max_columns', None)
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_day,Busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,195.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average_orders
1,2539329,1,prior,1,2,8,NaN,14084,2,0,14084.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average_orders
2,2539329,1,prior,1,2,8,NaN,12427,3,0,12427.0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Average_orders
3,2539329,1,prior,1,2,8,NaN,26088,4,0,26089.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy,Average_orders
4,2539329,1,prior,1,2,8,NaN,26405,5,0,26406.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy,Average_orders

In [6]:
#drop unnecessary columns
ords_prods_merge.drop(['_merge', 'Unnamed: 0', 'busiest_day'], axis = 'columns', inplace = True)

In [7]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,Busiest_day,Busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Average_orders
1,2539329,1,prior,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Average_orders
2,2539329,1,prior,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Average_orders
3,2539329,1,prior,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Average_orders
4,2539329,1,prior,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Average_orders

In [8]:
ords_prods_merge.shape

(32435059, 17)

In [9]:
#create a subset with first one million entries
df = ords_prods_merge[:1000000]

In [10]:
#check the output
df.shape

(1000000, 17)

In [11]:
df.head(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,Busiest_day,Busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Average_orders
1,2539329,1,prior,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Average_orders
2,2539329,1,prior,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Average_orders
3,2539329,1,prior,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Average_orders
4,2539329,1,prior,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Average_orders
5,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77.0,7.0,9.0,Mid-range product,Slowest days,Most_orders
6,2398795,1,prior,2,3,7,15.0,10258,2,0,Pistachios,117.0,19.0,3.0,Low-range product,Slowest days,Most_orders
7,2398795,1,prior,2,3,7,15.0,12427,3,1,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Slowest days,Most_orders
8,2398795,1,prior,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Slowest days,Most_orders
9,2398795,1,prior,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Slowest days,Most_orders

In [12]:
#test group by function
df.groupby('product_name')

In [13]:
#performing single aggregation
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              14.792915
2.0              17.091743
3.0              17.919589
4.0              17.891973
5.0              15.214270
6.0              15.382228
7.0              17.699986
8.0              16.485269
9.0              15.965921
10.0             20.091818
11.0             16.485395
12.0             15.615845
13.0             16.485052
14.0             17.523474
15.0             15.690354
16.0             18.014342
17.0             16.155822
18.0             19.606536
19.0             17.630236
20.0             17.138204
21.0             21.996844

In [14]:
#without the agg()
df.groupby('department_id')['order_number'].mean()

department_id
1.0     14.792915
2.0     17.091743
3.0     17.919589
4.0     17.891973
5.0     15.214270
6.0     15.382228
7.0     17.699986
8.0     16.485269
9.0     15.965921
10.0    20.091818
11.0    16.485395
12.0    15.615845
13.0    16.485052
14.0    17.523474
15.0    15.690354
16.0    18.014342
17.0    16.155822
18.0    19.606536
19.0    17.630236
20.0    17.138204
21.0    21.996844
Name: order_number, dtype: float64

In [15]:
#performing multiple Aggregations
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1.0              14.792915   1  99
2.0              17.091743   1  98
3.0              17.919589   1  99
4.0              17.891973   1  99
5.0              15.214270   1  99
6.0              15.382228   1  99
7.0              17.699986   1  99
8.0              16.485269   1  91
9.0              15.965921   1  99
10.0             20.091818   1  99
11.0             16.485395   1  99
12.0             15.615845   1  99
13.0             16.485052   1  99
14.0             17.523474   1  99
15.0             15.690354   1  99
16.0             18.014342   1  99
17.0             16.155822   1  99
18.0             19.606536   1  99
19.0             17.630236   1  99
20.0             17.138204   1  99
21.0             21.996844   1  97

In [16]:
#Aggregating Data with transform()
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [17]:
#check the output
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,Busiest_day,Busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Average_orders,10
1,2539329,1,prior,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Average_orders,10
2,2539329,1,prior,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Average_orders,10
3,2539329,1,prior,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Average_orders,10
4,2539329,1,prior,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Average_orders,10

In [18]:
#command to display all rows
pd.options.display.max_rows = None

In [19]:
#check output
ords_prods_merge.head(100)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,Busiest_day,Busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Average_orders,10
1,2539329,1,prior,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Average_orders,10
2,2539329,1,prior,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Average_orders,10
3,2539329,1,prior,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Average_orders,10
4,2539329,1,prior,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Average_orders,10
5,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77.0,7.0,9.0,Mid-range product,Slowest days,Most_orders,10
6,2398795,1,prior,2,3,7,15.0,10258,2,0,Pistachios,117.0,19.0,3.0,Low-range product,Slowest days,Most_orders,10
7,2398795,1,prior,2,3,7,15.0,12427,3,1,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Slowest days,Most_orders,10
8,2398795,1,prior,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Slowest days,Most_orders,10
9,2398795,1,prior,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Slowest days,Most_orders,10
10,2398795,1,prior,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,121.0,14.0,4.0,Low-range product,Slowest days,Most_orders,10
11,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77.0,7.0,9.0,Mid-range product,Slowest days,Most_orders,10
12,473747,1,prior,3,3,12,21.0,12427,2,1,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Slowest days,Most_orders,10
13,473747,1,prior,3,3,12,21.0,10258,3,1,Pistachios,117.0,19.0,3.0,Low-range product,Slowest days,Most_orders,10
14,473747,1,prior,3,3,12,21.0,25133,4,0,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Slowest days,Most_orders,10
15,473747,1,prior,3,3,12,21.0,30450,5,0,Creamy Almond Butter,88.0,13.0,3.2,Low-range product,Slowest days,Most_orders,10
16,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77.0,7.0,9.0,Mid-range product,Slowest days,Most_orders,10
17,2254736,1,prior,4,4,7,29.0,12427,2,1,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Slowest days,Most_orders,10
18,2254736,1,prior,4,4,7,29.0,10258,3,1,Pistachios,117.0,19.0,3.0,Low-range product,Slowest days,Most_orders,10
19,2254736,1,prior,4,4,7,29.0,25133,4,1,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Slowest days,Most_orders,10
20,2254736,1,prior,4,4,7,29.0,26405,5,1,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Slowest days,Most_orders,10
21,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77.0,7.0,9.0,Mid-range product,Slowest days,Most_orders,10
22,431534,1,prior,5,4,15,28.0,12427,2,1,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Slowest days,Most_orders,10
23,431534,1,prior,5,4,15,28.0,10258,3,1,Pistachios,117.0,19.0,3.0,Low-range product,Slowest days,Most_orders,10
24,431534,1,prior,5,4,15,28.0,25133,4,1,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Slowest days,Most_orders,10
25,431534,1,prior,5,4,15,28.0,10326,5,0,Organic Fuji Apples,24.0,4.0,2.7,Low-range product,Slowest days,Most_orders,10
26,431534,1,prior,5,4,15,28.0,17122,6,0,Honeycrisp Apples,24.0,4.0,14.0,Mid-range product,Slowest days,Most_orders,10
27,431534,1,prior,5,4,15,28.0,41787,7,0,Bartlett Pears,24.0,4.0,5.0,Low-range product,Slowest days,Most_orders,10
28,431534,1,prior,5,4,15,28.0,13176,8,1,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Slowest days,Most_orders,10
29,3367565,1,prior,6,2,7,19.0,196,1,1,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Most_orders,10
30,3367565,1,prior,6,2,7,19.0,12427,2,1,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Most_orders,10
31,3367565,1,prior,6,2,7,19.0,10258,3,1,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy,Most_orders,10
32,3367565,1,prior,6,2,7,19.0,25133,4,1,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Regularly busy,Most_orders,10
33,550135,1,prior,7,1,9,20.0,196,1,1,Soda,77.0,7.0,9.0,Mid-range product,Busiest days,Most_orders,10
34,550135,1,prior,7,1,9,20.0,10258,2,1,Pistachios,117.0,19.0,3.0,Low-range product,Busiest days,Most_orders,10
35,550135,1,prior,7,1,9,20.0,12427,3,1,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Busiest days,Most_orders,10
36,550135,1,prior,7,1,9,20.0,25133,4,1,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Busiest days,Most_orders,10
37,550135,1,prior,7,1,9,20.0,13032,5,1,Cinnamon Toast Crunch,121.0,14.0,4.0,Low-range product,Busiest days,Most_orders,10
38,3108588,1,prior,8,1,14,14.0,12427,1,1,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Busiest days,Most_orders,10
39,3108588,1,prior,8,1,14,14.0,196,2,1,Soda,77.0,7.0,9.0,Mid-range product,Busiest days,Most_orders,10
40,3108588,1,prior,8,1,14,14.0,10258,3,1,Pistachios,117.0,19.0,3.0,Low-range product,Busiest days,Most_orders,10
41,3108588,1,prior,8,1,14,14.0,25133,4,1,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Busiest days,Most_orders,10
42,3108588,1,prior,8,1,14,14.0,46149,5,0,Zero Calorie Cola,77.0,7.0,13.4,Mid-range product,Busiest days,Most_orders,10
43,3108588,1,prior,8,1,14,14.0,49235,6,0,Organic Half & Half,53.0,16.0,1.8,Low-range product,Busiest days,Most_orders,10
44,2295261,1,prior,9,1,16,0.0,49235,1,1,Organic Half & Half,53.0,16.0,1.8,Low-range product,Busiest days,Most_orders,10
45,2295261,1,prior,9,1,16,0.0,46149,2,1,Zero Calorie Cola,77.0,7.0,13.4,Mid-range product,Busiest days,Most_orders,10
46,2295261,1,prior,9,1,16,0.0,25133,3,1,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Busiest days,Most_orders,10
47,2295261,1,prior,9,1,16,0.0,196,4,1,Soda,77.0,7.0,9.0,Mid-range product,Busiest days,Most_orders,10
48,2295261,1,prior,9,1,16,0.0,10258,5,1,Pistachios,117.0,19.0,3.0,Low-range product,Busiest days,Most_orders,10
49,2295261,1,prior,9,1,16,0.0,12427,6,1,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Busiest days,Most_orders,10
50,2550362,1,prior,10,4,8,30.0,196,1,1,Soda,77.0,7.0,9.0,Mid-range product,Slowest days,Average_orders,10
51,2550362,1,prior,10,4,8,30.0,46149,2,1,Zero Calorie Cola,77.0,7.0,13.4,Mid-range product,Slowest days,Average_orders,10
52,2550362,1,prior,10,4,8,30.0,39657,3,0,Milk Chocolate Almonds,45.0,19.0,6.8,Mid-range product,Slowest days,Average_orders,10
53,2550362,1,prior,10,4,8,30.0,38928,4,0,0% Greek Strained Yogurt,120.0,16.0,12.6,Mid-range product,Slowest days,Average_orders,10
54,2550362,1,prior,10,4,8,30.0,25133,5,1,Organic String Cheese,21.0,16.0,8.6,Mid-range product,Slowest days,Average_orders,10
55,2550362,1,prior,10,4,8,30.0,10258,6,1,Pistachios,117.0,19.0,3.0,Low-range product,Slowest days,Average_orders,10
56,2550362,1,prior,10,4,8,30.0,35951,7,0,Organic Unsweetened Almond Milk,91.0,16.0,1.3,Low-range product,Slowest days,Average_orders,10
57,2550362,1,prior,10,4,8,30.0,13032,8,1,Cinnamon Toast Crunch,121.0,14.0,4.0,Low-range product,Slowest days,Average_orders,10
58,2550362,1,prior,10,4,8,30.0,12427,9,1,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Slowest days,Average_orders,10
59,2168274,2,prior,1,2,11,NaN,32792,1,0,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,Mid-range product,Regularly busy,Most_orders,14
60,2168274,2,prior,1,2,11,NaN,47766,2,0,Organic Avocado,24.0,4.0,6.3,Mid-range product,Regularly busy,Most_orders,14
61,2168274,2,prior,1,2,11,NaN,20574,3,0,Roasted Turkey,96.0,20.0,2.3,Low-range product,Regularly busy,Most_orders,14
62,2168274,2,prior,1,2,11,NaN,12000,4,0,Baked Organic Sea Salt Crunchy Pea Snack,72.0,13.0,10.9,Mid-range product,Regularly busy,Most_orders,14
63,2168274,2,prior,1,2,11,NaN,48110,5,0,Thin Stackers Brown Rice Lightly Salted,78.0,19.0,2.7,Low-range product,Regularly busy,Most_orders,14
64,2168274,2,prior,1,2,11,NaN,22474,6,0,Cheddar Bunnies Snack Crackers,78.0,19.0,4.1,Low-range product,Regularly busy,Most_orders,14
65,2168274,2,prior,1,2,11,NaN,16589,7,0,Plantain Chips,107.0,19.0,5.0,Low-range product,Regularly busy,Most_orders,14
66,2168274,2,prior,1,2,11,NaN,35917,8,0,Organic Just Concord Grape Juice,98.0,7.0,9.4,Mid-range product,Regularly busy,Most_orders,14
67,2168274,2,prior,1,2,11,NaN,27344,9,0,Uncured Genoa Salami,96.0,20.0,14.8,Mid-range product,Regularly busy,Most_orders,14
68,2168274,2,prior,1,2,11,NaN,30489,10,0,Original Hummus,67.0,20.0,7.5,Mid-range product,Regularly busy,Most_orders,14
69,2168274,2,prior,1,2,11,NaN,27966,11,0,Organic Raspberries,123.0,4.0,4.4,Low-range product,Regularly busy,Most_orders,14
70,2168274,2,prior,1,2,11,NaN,13176,12,0,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Regularly busy,Most_orders,14
71,2168274,2,prior,1,2,11,NaN,45066,13,0,Honeycrisp Apple,24.0,4.0,2.5,Low-range product,Regularly busy,Most_orders,14
72,1501582,2,prior,2,5,10,10.0,16797,1,0,Strawberries,24.0,4.0,1.3,Low-range product,Regularly busy,Average_orders,14
73,1501582,2,prior,2,5,10,10.0,47526,2,0,Goat Cheese Log,21.0,16.0,2.0,Low-range product,Regularly busy,Average_orders,14
74,1501582,2,prior,2,5,10,10.0,8479,3,0,Original Black Box Tablewater Cracker,78.0,19.0,3.5,Low-range product,Regularly busy,Average_orders,14
75,1501582,2,prior,2,5,10,10.0,47766,4,1,Organic Avocado,24.0,4.0,6.3,Mid-range product,Regularly busy,Average_orders,14
76,1501582,2,prior,2,5,10,10.0,19051,5,0,"Pita Chips, Simply Naked, Party Size",107.0,19.0,3.9,Low-range product,Regularly busy,Average_orders,14
77,1501582,2,prior,2,5,10,10.0,8138,6,0,Traditional Hummus,67.0,20.0,2.0,Low-range product,Regularly busy,Average_orders,14
78,1901567,2,prior,3,1,10,3.0,47766,1,1,Organic Avocado,24.0,4.0,6.3,Mid-range product,Busiest days,Average_orders,14
79,1901567,2,prior,3,1,10,3.0,32792,2,1,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,Mid-range product,Busiest days,Average_orders,14
80,1901567,2,prior,3,1,10,3.0,20574,3,1,Roasted Turkey,96.0,20.0,2.3,Low-range product,Busiest days,Average_orders,14
81,1901567,2,prior,3,1,10,3.0,7781,4,0,Organic Sticks Low Moisture Part Skim Mozzarel...,21.0,16.0,6.6,Mid-range product,Busiest days,Average_orders,14
82,1901567,2,prior,3,1,10,3.0,28874,5,0,Carrot Ginger Soup,1.0,20.0,6.2,Mid-range product,Busiest days,Average_orders,14
83,738281,2,prior,4,2,10,8.0,49451,1,0,Artichoke Spinach Dip,67.0,20.0,7.1,Mid-range product,Regularly busy,Average_orders,14
84,738281,2,prior,4,2,10,8.0,32792,2,1,Chipotle Beef & Pork Realstick,23.0,19.0,5.2,Mid-range product,Regularly busy,Average_orders,14
85,738281,2,prior,4,2,10,8.0,32139,3,0,Hommus Classic Original,67.0,20.0,7.5,Mid-range product,Regularly busy,Average_orders,14
86,738281,2,prior,4,2,10,8.0,34688,4,0,Good Belly Probiotics Juice Drink Blueberry Ac...,31.0,7.0,5.8,Mid-range product,Regularly busy,Average_orders,14
87,738281,2,prior,4,2,10,8.0,36735,5,0,Organic Roasted Sliced Chicken Breast,96.0,20.0,8.9,Mid-range product,Regularly busy,Average_orders,14
88,738281,2,prior,4,2,10,8.0,37646,6,0,Organic Gala Apples,24.0,4.0,9.1,Mid-range product,Regularly busy,Average_orders,14
89,738281,2,prior,4,2,10,8.0,22829,7,0,Multigrain Flax Seeded Flatbread Crackers,78.0,19.0,5.5,Mid-range product,Regularly busy,Average_orders,14
90,738281,2,prior,4,2,10,8.0,24852,8,0,Banana,24.0,4.0,12.3,Mid-range product,Regularly busy,Average_orders,14
91,738281,2,prior,4,2,10,8.0,47209,9,0,Organic Hass Avocado,24.0,4.0,4.0,Low-range product,Regularly busy,Average_orders,14
92,738281,2,prior,4,2,10,8.0,33276,10,0,Kalamata Olive Spread,67.0,20.0,10.8,Mid-range product,Regularly busy,Average_orders,14
93,738281,2,prior,4,2,10,8.0,45613,11,0,Pad Thai,38.0,1.0,12.6,Mid-range product,Regularly busy,Average_orders,14
94,738281,2,prior,4,2,10,8.0,9681,12,0,Chicken Tikka Masala with Cumin Infused Basmat...,38.0,1.0,2.0,Low-range product,Regularly busy,Average_orders,14
95,738281,2,prior,4,2,10,8.0,21150,13,0,Fire Grilled Steak Bowl,38.0,1.0,5.9,Mid-range product,Regularly busy,Average_orders,14
96,1673511,2,prior,5,3,11,8.0,47144,1,0,Unsweetened Original Almond Breeze Almond Milk,91.0,16.0,14.0,Mid-range product,Slowest days,Most_orders,14
97,1673511,2,prior,5,3,11,8.0,5322,2,0,Gluten Free Dark Chocolate Chunk Chewy with a ...,3.0,19.0,2.9,Low-range product,Slowest days,Most_orders,14
98,1673511,2,prior,5,3,11,8.0,17224,3,0,Oats & Honey Gluten Free Granola,3.0,19.0,1.6,Low-range product,Slowest days,Most_orders,14
99,1673511,2,prior,5,3,11,8.0,38656,4,0,Gluten Free Peanut Butter Dark Chocolate Chewy...,3.0,19.0,3.4,Low-range product,Slowest days,Most_orders,14

In [20]:
#Deriving Columns with loc()
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [21]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [22]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [23]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891507
Loyal customer      10294027
New customer         6249525
Name: loyalty_flag, dtype: int64

In [24]:
ords_prods_merge.head(5)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,Busiest_day,Busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Average_orders,10,New customer
1,2539329,1,prior,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Average_orders,10,New customer
2,2539329,1,prior,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Average_orders,10,New customer
3,2539329,1,prior,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Average_orders,10,New customer
4,2539329,1,prior,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Average_orders,10,New customer

Task 4.8:

In [25]:
#Step 2: Find the aggregated mean of the 'order_number' column grouped by 'department_id' for the entire data frame
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.215751
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.170638
12.0             15.887671
13.0             16.583536
14.0             16.773669
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

Step 3: Analyzing the result from above query with that of the subset query
The mean from the entire data frame is a little higher than the mean from the subset data frame
the subset consisted only of a million records so the difference in the mean is expected.

In [26]:
#Step 4: Create a loyalty flag for existing customers using the transfrom() and loc() functions
#this is creating in the above steps following the exercise. 
#check the output
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891507
Loyal customer      10294027
New customer         6249525
Name: loyalty_flag, dtype: int64

In [27]:
#Step 5: basic statistics of the loyalty flag for each loyalty category
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

From the above query, we can see that the average price of products purchased by loyal customers is lower than the other two categories. The average price for Regular customers is more than that of the loyal customers and the new customers have the highest average price for the products purchased.

In [28]:
#Step 6: Create a spending flag for each user based on the average price across all their orders 
#Aggregating user data with transform()
ords_prods_merge['Avg_amt_spent'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [29]:
#check the output with the new column
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,Busiest_day,Busiest_period_of_day,max_order,loyalty_flag,Avg_amt_spent
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797
1,2539329,1,prior,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797
2,2539329,1,prior,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797
3,2539329,1,prior,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797
4,2539329,1,prior,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797

In [30]:
#Create a spending flag using the following criteria
#1st criteria: if the mean of the prices of products purchased by a user is lower than 10, then flag them as 'low spender'
ords_prods_merge.loc[ords_prods_merge['Avg_amt_spent'] < 10, 'spending_flag'] = 'Low spender'

In [31]:
# 2nd Criteria: if the mean of the prices of products purchased by a user is higher or equal to 10, then flag them as 'high spender'
ords_prods_merge.loc[(ords_prods_merge['Avg_amt_spent'] >= 10) , 'spending_flag'] = 'High spender'

In [32]:
#check the output
ords_prods_merge[['user_id', 'Avg_amt_spent', 'spending_flag']].head()

   user_id  Avg_amt_spent spending_flag
0        1       6.367797   Low spender
1        1       6.367797   Low spender
2        1       6.367797   Low spender
3        1       6.367797   Low spender
4        1       6.367797   Low spender

In [33]:
#check the count of spending flag
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     31800381
High spender      634678
Name: spending_flag, dtype: int64

In [34]:
#Step 7: create an order frequency flag that marks the regularity of a user's ordering behaviour 
#Aggregating user's, 'days_since_prior_order' using transform()
ords_prods_merge['frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [35]:
ords_prods_merge['frequency'].dtype

dtype('float64')

In [36]:
ords_prods_merge['frequency'] = ords_prods_merge['frequency'].astype('int64')

In [37]:
#check the output
pd.set_option('display.max_columns', None)
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,Busiest_day,Busiest_period_of_day,max_order,loyalty_flag,Avg_amt_spent,spending_flag,frequency
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20
1,2539329,1,prior,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20
2,2539329,1,prior,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20
3,2539329,1,prior,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20
4,2539329,1,prior,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20

In [38]:
#Create a frequency flag
#1st criteria: if the median of 'days_since_prior_order' is higher than 20, then the customer should be labeled 'non-frequent customer'
ords_prods_merge.loc[ords_prods_merge['frequency'] > 20, 'frequency_flag'] = 'Non-Frequent customer'

In [39]:
#2nd Criteria: if the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a 'regular customer'
ords_prods_merge.loc[(ords_prods_merge['frequency'] > 10) & (ords_prods_merge['frequency'] <= 20), 'frequency_flag'] = 'Regular Customer'

In [40]:
#3rd Criteria: if the median is lower than or equal to 10, then the customer should be labeled a 'Frequent Customer'
ords_prods_merge.loc[ords_prods_merge['frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [41]:
#check the output
ords_prods_merge[['user_id', 'frequency', 'frequency_flag']].head()

   user_id  frequency    frequency_flag
0        1         20  Regular Customer
1        1         20  Regular Customer
2        1         20  Regular Customer
3        1         20  Regular Customer
4        1         20  Regular Customer

In [42]:
#check the output with value_counts
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent customer        21608607
Regular Customer          7196551
Non-Frequent customer     3629901
Name: frequency_flag, dtype: int64

In [43]:
#exporting the ords_prods_merge data frame as a pickle file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Processed Data', 'ords_prods_merge.pkl'))